<div class="container">
    <section class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    PopFlix!
                </div>
                <img src="/Images/popflix.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Netflix and scroll too much?</h5>
                    <p class="card-text">This has been my favorite project that I've worked on so far. Having trouble
                        picking a
                        movie on your favorite streaming service? We have an answer to that! The user will be able to
                        enter
                        a genre,
                        decade, rating and an actor and they will be presented with a random movie. They will also see
                        what
                        streaming service its steaming on, and be able to click on the link and be taken to the site.
                        Click
                        the link
                        below to try it out yourself! <a href="https://github.com/mradamhorn">Adam</a> and
                        <a href="https://github.com/skyler-blakeslee">Skyler</a> made this project into what it looks
                        like
                        today, I
                        wouldn't have been able to do it without them!
                    </p>
                    <a href="https://mradamhorn.github.io/popflix/">PopFlix!</a>
                </div>
            </div>
        </div>
        <!--second deployed page-->
        <div class="col">
            <div class="card">
                <img src="/Images/coding.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Want to take a test?</h5>
                    <p class="card-text">Ready to test your coding knowledge? This project lets the user click start to
                        begin, and
                        start the timer. Carefull if the answer is incorrect, time will be deducted. If the user gets a
                        correct
                        answer, time will be added. Click the link below to see the respitory, and good luck!
                        travel.</p>
                    <a href="https://jagg1991.github.io/codingtest/">Coding Test!</a>
                </div>
            </div>
        </div>
        <!--third deployed page-->
        <div class="col">
            <div class="card">
                <img src="/Images/weather.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Want to know what the weather is like?!</h5>
                    <p class="card-text">On this project, I was able to create a weather forecast page. The user is able
                        to
                        enter
                        the city they would like to see,
                        and it will return current conditions, uv index, humidity, and wind speed. The user will also be
                        presented
                        with a 5 day forecast. Click the
                        link below to try it out! </p>
                    <a href="https://jagg1991.github.io/weather/">Weather forecast</a>
                </div>
            </div>
        </div>
        <!--forth deployed page-->
        <div class="col">
            <div class="card">
                <img src="/Images/calander.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Crazy work day??</h5>
                    <p class="card-text">On this project, I was able to create a calander for the users work day. The
                        user
                        will be
                        able to enter a reminder in the time slot, click the save button, and it will save in the local
                        storage.
                        The time slots are color cordindated to show what time of day it is. Click the link below to try
                        it
                        out!</p>
                    <a href="https://jagg1991.github.io/calander/">Calander</a>
                </div>
            </div>
        </div>

        <div class="card text-center" id="assign-it">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </section>
</div>

<section class="container">
    <div class="row">



        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">All my Respitories!</h3>
                    <h3 class="card-subtitle mb-2 text-muted" style="text-align: center;">Click the buttons below to
                        check
                        them
                        out!</h3>
                    <p class="card-text"></p>
                    <div>
                        <ul id="resp">

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</section>
<script src='./JS/index.js'></script>