
.aboutme{
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.london{
  background-color: black;
}
.pad{
  
  align-items: center;
  padding: 10px 5px 5px 10px;
}

.container{
  flex-direction: column;
  width: 300px;
  height: auto;
  width: 300px;
  border: 1px solid black;
  margin: 50px;
  background-color: whitesmoke;
}
.box
{
 
}
.input1{
  padding-top: 50px;
}

.projectstart{
  background-color: white;
  border: #222 1px solid;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 10px 10px;
  margin: 20px;
  text-align: center;
}

.contactbody{
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.home{
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}